{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block body %}
<script>

  function handleRole(nuevo_rol){
    var table = document.getElementById('users');
    var tbody = table.getElementsByTagName('tbody')[0];
    var rows = tbody.getElementsByTagName('tr');
    for (i = 0; i < rows.length; i++){
      rows[i].onclick = function() {
        var id = this.cells[0].innerHTML
        document.querySelector('input[name="ID"]').value = id;
        document.querySelector('input[name="role"]').value = nuevo_rol;
        document.getElementsByTagName('form')[1].submit(); 
      }
    }
  }

  function handleDelete(){
    var table = document.getElementById('users');
    var tbody = table.getElementsByTagName('tbody')[0];
    var rows = tbody.getElementsByTagName('tr');
    for (i = 0; i < rows.length; i++){
      rows[i].onclick = function() {
        var id = this.cells[0].innerHTML
        document.querySelector('input[name="id"]').value = id;
        console.log(document.querySelector('form[name="ID"]'))
        document.querySelector('form[name="ID"]').submit();
        //document.getElementsByTagName('form')[1].submit(); 
      }
    }


    //console.log(document.querySelector('input[name="id"]').value)
    //console.log(document.querySelector('form[name="ID"]'))
    //console.log(document.querySelector('form[name="ID"]').value)
    //document.getElementsByTagName('form')[3].submit();
  }
</script>

<h2 class="mb-3">Perfiles de Usuarios</h2>
{% with messages = get_flashed_messages()%}

{% if messages %}
<br/>
{% for message in messages%}
<div class="alert alert-primary alert-dismissible" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% endwith %}

<div class="row justify-content-md-center">
  <div class="col-12 col-md-4 d-flex justify-content-end">
        <input type="text" class="form-control my-2 search">
        <button type="button" class="btn btn-dark my-2 search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button type="button" class="btn btn-primary my-2 mr-3" data-bs-toggle="modal" data-bs-target="#AgregarUsuario">
          <i class="fa-solid fa-plus"></i>
        </button>
  </div>


<!--Modal Agregar usuario-->
<div class="modal fade" id="AgregarUsuario" tabindex="-1" role="dialog" aria-labelledby="Agregar usuario" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-signin modal-body" action="/admin" method="POST">
        <div class="form-floating">
            <input type="username" class="form-control" id="username" name="username" placeholder="usuario" required="required" pattern="[A-Za-z0-9]{1,20}">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="*******" required="required">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input type="username" class="form-control" id="nombre" name="nombre" placeholder="Juan Carlos" required="required" pattern="[A-Za-z ]{1,20}">
          <label for="floatingInput">Nombres</label>
        </div>
        <div class="form-floating">
          <input type="username" class="form-control" id="apellido" name="apellido" placeholder="Perez Guzman" required="required" pattern="[A-Za-z ]{1,20}">
          <label for="floatingInput">Apellidos</label>
        </div>
        <div class="form-floating">
          <input type="username" class="form-control" id="cedula" name="cedula" placeholder="1234567" required="required">
          <label for="floatingInput">Cedula</label>
      </div>
        <div class="form-floating">
          <input type="username" class="form-control" id="telefonoL" name="telefonoL" placeholder="02121234567" required="required" pattern="[0-9]{11}">
          <label for="floatingInput">Telefono Local</label>
        </div>
        <div class="form-floating">
          <input type="username" class="form-control" id="telefonoC" name="telefonoC" placeholder="04161234567" required="required" pattern="[0-9]{11}">
          <label for="floatingInput">Telefono Celular</label>
        </div>
        <div class="form-floating">
          <input type="username" class="form-control" id="direccion" name="direccion" placeholder="Av. Libertador, Edificio A, Piso 4" required="required" pattern="[A-Za-z0-9 ]{1,40}">
          <label for="floatingInput">Direccion</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="rol" name="rol" value="0">
            <label class="form-check-label" for="rol">Usuario normal</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="rol" value="1" required="required">
            <label class="form-check-label" for="rol" required="required">Administrador</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="rol" value="2" required="required">
          <label class="form-check-label" for="rol" required="required">Productor</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar usuario</button>
      </div>
    </form>
    </div>
  </div>
</div>

{%if users%}
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6 table-responsive">
        <table class="table mt-2 table-hover" id = "users">
          <thead>
            <th scope="col">Cedula</th>
            <th scope="col">Username</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Rol</th>
            <th scope="col">Actions</th>
          </thead>
          <tbody>
            {%for user in users%}
            <tr class=" deleteOut tdEdit">
              <form action="/admin/update" method="POST"  >
                <th scope="row" id="{{user.id}}">{{user.id}}</th>
                <td class="table-light tdEdit" type="username" id="username">{{user.username}}</td>
                <td class="table-light tdEdit" type="username" id="nombre">{{user.nombres}}</td>
                <td class="table-light tdEdit" type="username" id="apellidos">{{user.apellidos}}</td>
                <input type="hidden" name="ID">
                <input type="hidden" name="role">
                <td class="table-light drop tdEdit">
                  <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle drop-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{user.rol}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li type="submit" onclick="handleRole(0);">
                        <a class="dropdown-item">0</a>
                      </li>
                      <li type="submit" onclick="handleRole(1);">
                        <a class="dropdown-item">1</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </form>
                <td>
                  <div class="cont">
                    <form action="/admin/delete" method="POST" class="edit pencil" role="button" onclick="handleDelete();">
                      <div>
                        <i class="fa-solid fa-pencil"></i>
                      </div>
                    </form>
                    <form name="ID" action="/admin/delete" method="POST" class="edit trash" role="button" onclick="handleDelete();">
                      <input type="hidden" name="id" value="">
                      <div >
                        <i class="fa-solid fa-trash"></i>
                      </div>
                    </form>
                  </div>
                </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
{%endif%}
</div>


{% endblock %}


