{% extends './home.html' %}

{% block title %}Home{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block body %}
<script>
  function handleDelete(){
    var table = document.getElementById('cosechas');
    var tbody = table.getElementsByTagName('tbody')[0];
    var rows = tbody.getElementsByTagName('tr');
    for (i = 0; i < rows.length; i++){
      rows[i].onclick = function() {
        id = this.cells[0].innerHTML
        document.querySelector('input[name="cosecha_id"]').value = id;
        document.querySelector('form[name="delete"]').submit();
      }
    }
  }

  function handleEdit(){
    var table = document.getElementById('cosechas');
    var tbody = table.getElementsByTagName('tbody')[0];
    var rows = tbody.getElementsByTagName('tr');

    for (i = 0; i < rows.length; i++){
      rows[i].onclick = async function() {
        id = this.cells[0].innerHTML
        var form = document.querySelector('form[name="editCosecha' + id + '"]')
        form[0].value = id;
        form.submit();
      }
    }
  }

  function search() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("compras");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 1; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
        
      if (td) {
        fecha = td.innerText
        if (fecha.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>

<main class="form-signin w-100 mb-auto mt-3 text-center justify-content-md-center row">
    {% if cosecha %}   
        <h2 class=" my-4 fade-in display-6">Listado de Compras <b class="fw-bold">Cosecha {{cosecha.descripcion}}</b> </h2>
    {%endif%}
  {% with messages = get_flashed_messages()%}

  {% if messages %}
  <br/>
  {% for message in messages%}
  <div class="alert alert-primary alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  {% endwith %}

  <div class="row justify-content-md-center fade-in">
    <div class="col-md-4 d-flex justify-content-end">
          <input type="date" class="form-control my-2 search" id="myInput" onkeyup="search()" placeholder="Buscar por fecha...">
          <button type="button" class="btn btn-primary my-2 mx-3" data-bs-toggle="modal" data-bs-target="#AgregarCosecha">
            <i class="fa-solid fa-plus"></i>
          </button>
    </div>
  </div>

  <!--Modal Agregar cosecha-->
  <div class="modal fade" id="AgregarCosecha" tabindex="-1" role="dialog" aria-labelledby="Agregar Cosecha" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Cosecha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="form-signin" action="/cosechas" method="POST">
            <div class="modal-body">
                <div class="form-floating">
                    <input class="form-control  top" id="descripcion" name="descripcion" placeholder="Enero Marzo 2022" required="required">
                    <label for="floatingInput">Descripción</label>
                </div>
                <div class="form-floating">
                    <input type="date" class="form-control  middle" id="inicio" name="inicio" placeholder="12/01/2022" required="required" pattern="[A-Za-z0-9 ]{1,40}">
                    <label for="floatingInput">Inicio</label>
                </div>
                <div class="form-floating">
                  <input type="date" class="form-control  bottom" id="fin" name="fin" placeholder="12/01/2023" required="required" pattern="[A-Za-z0-9 ]{1,40}">
                  <label for="floatingInput">Cierre</label>
              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Agregar Cosecha</button>
            </div>
        </form>
    </div>
    </div>
</div>

  {%if cosecha%}
      <div class="row justify-content-md-center fade-in">
        <div class="col-12 col-md-12 table-responsive">
          <table class="table mt-2 table-hover " id = "compras">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cédula</th>
              <th scope="col">Precio($)</th>
              <th scope="col">Clase de Cacao</th>
              <th scope="col">Cantidad (Kg)</th>
              <th scope="col">Humedad (%)</th>
              <th scope="col">Merma (%)</th>
              <th scope="col">Merma (Kg)</th>
              <th scope="col">Cantidad Total (Kg)</th>
              <th scope="col">Monto ($)</th>
              <th scope="col">Acciones</th>
            </thead>
            <tbody>
              {%for compra in compras%}
              <tr class=" deleteOut tdEdit">
                  <th scope="row" id="{{compra.id}}">{{compra.id}}</th>
                  <form name="editCompra{{compra.id}}" action="/compras/update" method="POST">
                    <input type="hidden" name="editid" required="required" value="1">
                    <td class="table-light tdEdit" type="username" id="username">{{compra.fecha}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.cedula}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.precio}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.cacao}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.cantidad}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.humedad}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{(compra.merma * 100)/compra.cantidad}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.merma}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.cantidad - compra.merma}}</td>
                    <td class="table-light tdEdit" type="username" id="username">{{compra.monto}}</td> 
                  </form>
                  <td class="col-1">
                    <div class="cont">
                      <button id="editbtn" method="POST" class="edit pencil btn" role="button" onclick="handleEdit()" title="Editar Cosecha">
                        <div>
                          <i class="fa-solid fa-pencil"></i>
                        </div>
                      </button>
                      <form name="delete" action="/cosechas/delete" method="POST" class="edit trash btn" role="button" onclick="handleDelete();" title="Eliminar Cosecha">
                        <input type="hidden" name="cosecha_id" value="" >
                        <div >
                          <i class="fa-solid fa-trash"></i>
                        </div>
                      </form>

                    </div>
                  </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
  {%endif%}
  </div>
</main>

{% endblock %}