{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}



<body>
    {% block menu %}
    <script>
        function setTab(){
            list = document.getElementById('menuList')
            links = list.getElementsByTagName('li')
            url = document.location.href 
            for (i = 0; i < links.length; i++){
                button = links[i].getElementsByTagName('button')
                a = links[i].getElementsByTagName('a')
                if(url == a[0].href){
                    links[i].style.transform = "translateX(35px)"
                    button[0].style.backgroundColor = "rgb(13,110,253)"
                    button[0].style.color = "#f5f5f5"
                }
            }
        }
        
        window.onload = setTab;
    </script>

    {% if 'username' in session%}
    <div class="d-flex flex-column p-3 bg-light sidebar " style="width: 17%; height: 100%;">
        <ul  role="button" onclick="window.location = '/'"class="nav d-flex mb-3 mr-3 justify-content-center fade-in" name="home">
            <li class=" d-flex centerList flex-column">
                <i class="fa-solid fa-circle-user display-4 m-3"></i>
            </li>
            <li class=" justify-content-center flex-column centerList mx-2" >
                <h6 class="text-left centerList">
                    {{ session['nombres'] + ' ' + session['apellidos']}}
                </h6>
                <h6 class="text-left fw-light centerList">
                    {% if session['rol'] == 0%}
                    Analista de Compras
                    {%elif session['rol'] == 1 %}
                    Administrador
                    {%else%}
                    Vendedor
                    {%endif%}
                </h6>
            </li>
        </ul>
        <ul class="nav nav-pills flex-column mb-auto upList justify-content-md-center" id="menuList">

            {% if session['rol'] == 0 %}
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="{{ url_for('recolector') }}" class="w-100">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3">
                        Datos del Recolector
                    </button>
                </a>
            </li>
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="{{ url_for('tipo_prod') }}" class="w-100">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3">
                        Tipos de Recolector
                    </button>
                </a>
            </li>
            {% else %}
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="#" class="w-100 disabled">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3 disabled">
                         Datos del Recolector
                    </button>
                </a>
            </li>
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="#" class="w-100 disabled">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3 disabled">
                        Tipos de Recolector
                    </button>
                </a>
            </li>
            {% endif %}

            {% if session['rol'] == 1 %}
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="{{ url_for('admin') }}" class="w-100">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3">
                        Perfiles de Usuarios
                    </button>
                </a>
            </li>
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="{{ url_for('cosechas') }}" class="w-100">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3">
                        Portafolio de Cosechas
                    </button>
                </a>
            </li>
            {% else %}
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="#" class="w-100 disabled">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3 disabled">
                        Perfiles de Usuarios
                    </button>
                </a>
            </li>
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="{{ url_for('cosechas') }}" class="w-100">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3 disabled">
                        Portafolio de Cosechas
                    </button>
                </a>
            </li>
            {% endif %}

            {% if session['rol'] == 2 %}
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="#" class="w-100">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3">
                        Logger de Eventos
                    </button>
                </a>
            </li>
            {%else%}
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="#" class="w-100 disabled">
                    <button class="nav-item btn btn-outline-primary mb-3 px-4 py-3 disabled">
                        Logger de Eventos
                    </button>
                </a>
            </li>
            {%endif%}
            
        </ul>
        <ul class="nav nav-pills flex-column upList">
            <li class="align-items-center justify-content-md-center fade-in">
                <a href="/logout" class="w-100">
                    <button class="btn btn-outline-danger px-4 py-3 logout">
                        Cerrar Sesión
                    </button>
                </a>
            </li>
        </ul>
    </div>
    {%endif%}
        {% block body %}
        <main class="form-signin w-100 m-auto text-center">
        <h2 class="fade-in display-6">¡Bienvenido <b class="fw-bold">{{ session['nombres'] + ' ' + session['apellidos']}}</b>!</h2>
        <img src="\static\img\Onboarding-pana.svg" alt="Bienvenido" width="450" height="350" class="wimg fade-in mb-5">
        </main>
        {% endblock %}
    {% endblock %}
</body>