{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block body %}
<script>

  function handleProd(id,nuevo_rol){
    var table = document.getElementById('users');
    var tbody = table.getElementsByTagName('tbody')[0];
    var rows = tbody.getElementsByTagName('tr');
    for (i = 0; i < rows.length; i++){
      rows[i].onclick = function() {
        var id = this.cells[0].innerHTML
        document.querySelector('input[name="ID"]').value = id;
        document.querySelector('input[name="rol"]').value = nuevo_rol;
        document.querySelector('input[name="tipo"]').value = tipo;
        document.getElementsByTagName('form')[1].submit(); 
      }
    }
  }
</script>

<h2 class="mb-3">Productos</h2>
{% with messages = get_flashed_messages()%}

{% if messages %}
<br/>
{% for message in messages%}
<div class="alert alert-primary alert-dismissible" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% endwith %}

<div class="row justify-content-md-center">
  <div class="col-12 col-md-4 d-flex justify-content-end">
        <input type="text" class="form-control my-2 search">
        <button type="button" class="btn btn-dark my-2 search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button type="button" class="btn btn-primary my-2 mr-3" data-bs-toggle="modal" data-bs-target="#AgregarProducto">
          <i class="fa-solid fa-plus"></i>
        </button>
  </div>
</div>

<!--Modal Agregar producto-->
<div class="modal fade" id="AgregarProducto" tabindex="-1" role="dialog" aria-labelledby="Agregar Producto" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-signin modal-body" action="/proveedor" method="POST">
        <div class="form-floating">
            <input type="username" class="form-control" id="nombre" name="nombre" placeholder="Nombre producto" required="required" pattern="[A-Za-z0-9]{1,20}">
        </div>
        <div class="form-floating">
            <input type="username" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion" >
            <label>Descripcion (Opcional)</label>
        </div>
        <div class="form-floating">
            <input type="username" class="form-control" id="precio" name="precio" placeholder="precio" >
            <label for="floatingInput">Precio</label>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar producto</button>
      </div>
      <input type="hidden" class="form-control" id="idProveedor" name="idProveedor">
    </form>
    </div>
  </div>
</div>

<!--Modal editar producto-->
<div class="modal fade" id="EditarProducto" tabindex="-1" role="dialog" aria-labelledby="Editar Producto" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="form-signin modal-body" action="/proveedor" method="POST">
          <div class="form-floating">
              <input type="username" class="form-control" id="nombre" name="nombre" placeholder="Nombre producto" required="required" pattern="[A-Za-z0-9]{1,20}">
          </div>
          <div class="form-floating">
              <input type="username" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion" >
              <label>Descripcion (Opcional)</label>
          </div>
          <div class="form-floating">
              <input type="username" class="form-control" id="precio" name="precio" placeholder="precio" >
              <label for="floatingInput">Precio</label>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Agregar producto</button>
        </div>
        <input type="hidden" class="form-control" id="idProveedor" name="idProveedor">
      </form>
      </div>
    </div>
  </div>
  

{%if productos%}
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-4">
        <table class="table mt-2 table-hover" id = "users">
          <thead>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Rol</th>
            <th scope="col">Actions</th>
          </thead>
          <tbody>
            {%for producto in productos%}
            <tr class=" deleteOut tdEdit">
              <form action="/proveedor/update" method="POST"  >
                <th scope="row" id="{{user.id}}">{{producto.id}}</th>
                <td class="table-light tdEdit" type="name" id="nombre">{{producto.nombre}}</td>
                <input type="hidden" name="ID">
                <td class="table-light tdEdit" type="name" id="descripcion">{{producto.descripcion}}</td>
                <td class="table-light tdEdit" type="name" id="precio">{{producto.precio}}</td>
                <td>
                  <div class="cont">
                    <div role="button" class="edit pencil" >
                      <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#EditarProducto">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                    </div>
                    <div role="button" class="edit trash" >
                      <button class="btn btn-light" onclick="handleProd({{producto.id}});">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </form>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
{%endif%}



{% endblock %}