{% extends './home.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}


{% block body %}
<script>
  window.onload = setTab;

  function handleChangePassword(){
    document.addform.submit();
  }

  function checkPassword(){
    password1 = document.addform.newpassword
    password2 = document.addform.newpassword2
    if(password1.value == password2.value){
      password1.style.backgroundColor = "#ffffff"
      password2.style.backgroundColor = "#ffffff"
      return 0
    }else{
      password1.style.backgroundColor = "#f8d7da"
      password2.style.backgroundColor = "#f8d7da"
      return 1
    }
  }
</script>

<main class="form-signin w-100 m-auto text-center">
  <div class="row justify-content-md-center">
    <div class="card blurred-box" style="width: 25rem;">
      <div class="col-12 col-md-auto">
          <div class="card-header mb-4 text-left">
            <h1 class="display-6 my-3 inic">Iniciar Sesión</h1>
          </div>
            {% with messages = get_flashed_messages()%}

            {% if messages %}
            <br/>
            {% for message in messages%}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <form class="form-signin" action="/login" method="POST">
          <div class="form-floating">
            <input type="username" class="form-control top" id="username" name="username" placeholder="Username">
            <label for="floatingInput">Nombre de Usuario</label>
          </div>
          <div class="form-floating mb-5">
            <input type="password" class="form-control bottom" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <div class="row justify-content-around d-flex">
            <div class="col-12 col-md-12">
              <button class="w-100 btn btn-lg btn-primary mb-2" type="Enviar">Iniciar Sesión</button>
            </div>
            <div class="col-12 col-md-12">
              <button class="w-100 btn btn-lg btn-outline-primary mb-2" type="reset">Limpiar</button>
            </div>
          </div>
          <div class="col-8 col-md-auto">
            <button type="button" class="btn btn-link my-2 mx-3 " data-bs-toggle="modal" data-bs-target="#CambiarPassword">Cambiar Contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Modal cambiar password-->
  <div class="modal fade" id="CambiarPassword" tabindex="-1" role="dialog" aria-labelledby="Cambiar Password" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="form-signin" action="/login/update" method="POST" name="addform">
          <div class="modal-body">
            <div class="form-floating">
                <input type="username" class="form-control top" id="username" name="username" placeholder="usuario" required="required" pattern="[A-Za-z0-9]{1,20}">
                <label for="floatingInput">Nombre de Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control middle" id="floatingPassword" name="oldpassword" placeholder="*******" required="required" minlength="8">
                <label for="floatingPassword">Contraseña anterior</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control middle" id="floatingPassword" name="newpassword" placeholder="*******" required="required" minlength="8" onkeyup="checkPassword()">
              <label for="floatingPassword">Nueva Contraseña</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control middle" id="floatingPassword" name="newpassword2" placeholder="*******" required="required" minlength="8" onkeyup="checkPassword()">
              <label for="floatingPassword">Repita Nueva Contraseña</label>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" name="submitbtn" onclick="handleChangePassword()">Cambiar Contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
