html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.sidebar{
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
  background-color: #f5f5f5 !important;
}

.nav-item{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav-item:hover{
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}

.form-signin {
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.bottom {
  margin-bottom: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-check {
  text-align: left !important;
}

.drop{
  padding: 4px !important;
}

.drop-btn{
  padding: 4px 8px !important;
}

.cont{
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px;
  margin: -5px;
}

.hide{
  display: none;
}

form.edit{
  display: flex !important;
  flex: 0 0 auto !important;
  width: 40% !important;
  justify-content: center !important;
  padding: 6px 20px !important;
  border-radius: 40rem !important;
}

button.edit{
  display: flex !important;
  flex: 0 0 auto !important;
  width: 40% !important;
  justify-content: center !important;
  padding: 6px 7px !important;
  border-radius: 40rem !important;
}

.trash{
  margin-left: 3.5px !important;

}
.trash:hover {
  background-color: rgb(215, 70, 70) !important;
  color: rgb(255, 181, 181) !important;
}

.pencil{
  margin-right: 3.5px !important;
}

.pencil:hover{
  background-color: rgb(154, 156, 182) !important;
  color: rgb(225, 225, 225) !important;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.4s;
  -moz-animation-duration:0.4s;
  animation-duration:0.4s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}