html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.collapsible-menu {
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid #afafaf;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 6px;
}
.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu a {
  display:block;
  padding: 10px;
  text-decoration: none;
}

.collapsible-menu label {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 56px;
  display: block;
  cursor: pointer;
  background: url(menu.png) no-repeat left center;
  padding: 10px 0 10px 50px;
}
input#menu {
  display: none;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

.form-check {
  text-align: left !important;
}
/* Toggle Effect */
input:checked ~ label {
  background-image: url(close.png);
}
input:checked ~ .menu-content {
  max-height: 100%;
}
